html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
}

body {
    background-color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-align: center;
}

.app {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
textarea {
    resize: none;
}
p {
    margin: 0;
}
div {
    margin: 20px;
}